.home {
    z-index: 1;
}

.ection-1-container {
    position: relative;
    // background-color: #F2F0FF;
    box-sizing: border-box;
    width: 100%;
    // z-index: -1;
}

.section-1-left-lamp {
    position: absolute;
    top: 0;
    left: -4%;
    // width: 20%;
    // border: 1px solid black;

}

.section-1 {
    // border: 1px solid black;
    display: flex;
    width: 100%;
}

.general-font-size {
    font-size: 16px;
}

.section-1-left {
    width: 50%;
    display: flex;
    align-items: center;
    // border: 1px solid;


    .section-1-left-content {
        // padding: 0 5px 0 0;
        // border: 1px solid;


        .section-1-left-content-box-1 {
            margin-bottom: 10px;
            // border: 1px solid;
        }

        .section-1-left-content-heading {}


        .section-1-left-content-box-3 {
            margin: 10px 0;
            // border:1px solid;
            width: 90%;
        }

        .section-1-left-content-text-1 {
            color: pink;
            // border: 1px solid black;

        }

        .section-1-left-content-heading {
            font-size: 40px;
            // line-height: 60px;
            // size: 53px;
            margin: 0;
            // border: 1px solid;


        }

        .section-1-left-content-text-3 {
            // display: flex;
            // word-wrap: wrap;
            // border: 2px solid black;

        }
    }

    .section-1-left-btn {
        // border: 1px solid black;
        background-color: #FB2E86;
        color: white;
        padding: 15px 30px;
        outline: none;
        border: none;
        // width: 15%;
        font-weight: 600;
        cursor: pointer;
    }

}

button.section-1-left-btn:hover {
    background-color: greenyellow !important;
}

.section-1-container {
    // 
}

.section-1-right {
    width: 50%;
    padding: 60px 0;

    .section-1-right-background {
        position: relative;
        width: 100%;

        .section-1-right-sofa {
            // border: 1px solid;
            // position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 30.31rem;
            width: 30.31rem;
            margin-left: 9%;
            // position: relative;
        }


        // .group-circle {
        //     width: 100%;
        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     width: 100%;
        //     // z-index: -1;
        //     height: 36.18rem;
        //     width: 36.18rem;
        //     // border: 1px solid;
        // }
    }

    .section-1-right-background {
        // border: 1px solid black;
        position: relative;
    }

    .group-circle {
        position: absolute;
        // border: 2px solid red;
        width: 100%;
        top: 0;

    }



}



.pink-circle {
    position: absolute;
    // border: 1px solid blue;
    width: 100%;
}

.sofa {
    position: relative;
    z-index: 3;
    // height: 30.31rem;
    // width: 30.31rem;
}


// Section 2 Starts Here
.section-2-container {
    width: 100%;
    margin: 40px 0;

    .section-2 {
        width: 100%;

        .section-heading {
            display: flex;
            justify-content: center;
            // padding: 20px 0;
            font-weight: 600;
            font-size: 18px;
        }

        .box-container-for-items-image {
            background-color: white !important;

        }

        .section-2-box-container {
            display: flex;
            justify-content: space-between;
            margin: 20px 0;


            .section-2-box {
                background-color: white;
                // border: 1px solid black;
                width: 24%;
                padding-bottom: 7px;
                height: 360px;
                border-top-left-radius: 8px;
                border-top-right-radius: 8px;
                overflow: hidden;
                // box-shadow: 5px 5px 10px black;
                // border: 1px solid;
                // box-shadow: 0 0px 10px #e8e8e8;
                box-shadow: 0px 5px 8px #38393b;

                .box-container-for-items-image {
                    // border: 1px solid;
                    width: 100%;
                    height: 236px;
                    display: flex;
                    justify-content: center;
                    align-items: center;


                    .inner-box-container-for-items-image {
                        width: 178px;
                        height: 178px;


                        #px {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .box-container-text-container {
                    height: 120px;
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    // line-height: 1.5em;

                    .dash-container {
                        display: flex;
                        justify-content: center;
                        gap: 5px;
                        // border: 1px solid;

                        .dash {
                            width: 12px;
                            height: 2px;
                        }
                    }
                }

                button {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

//Section 2 Ends Here

.section-heading {
    display: flex;
    justify-content: center;
    font-weight: 600;
    font-size: 18px;
    // margin: 20px 0;
    // border: 1px solid;
    margin-bottom: 15px;
}


.section-3-container {
    margin: 50px 0;
    // border: 1px solid black;
    width: 100%;

    .section-3-links {
        // border: 1px solid black;
        margin-bottom: 2em;
        font-size: 13px;
        display: flex;
        justify-content: center;
        gap: 20px;

        div {
            cursor: pointer;

        }

        div:hover {
            text-decoration: underline;
        }

    }

    .image-box-container {
        width: 30%;
        // border: 1px solid;
        box-shadow: 0px 5px 8px #38393b;
        cursor: pointer;
        padding-bottom: 1em;
    }

    .overall-image-box-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        // flex-wrap: wrap;

    }

    .inner-image-box-container {
        // border: 1px solid blue;
        align-items: center;
        display: flex;
        justify-content: center;
        height: 80%;
        // background-color: whitesmoke;
    }

    // .image-box-container {}

    .inner-image-box {
        // border: 1px solid pink;
        width: 70%;
        display: flex;
        justify-content: center;

        .caftypic {
            width: 100%;
        }

    }

    .image-box-option {
        width: 70%;
        height: 70%;

    }

    .box-text {
        display: flex;
        flex-direction: column;
        padding: 0 5px;
        justify-content: space-between;
        height: 20%;
        align-items: center;
        padding-bottom: 2em;
        text-align: center;
    }

}

.box-container-text-container .adbutton {
    justify-content: center;
    margin: auto;
    // width: ;
    height: 1em;
    width: 40%;
    // border: 1px solid red !important;

}

.adbutton button {
    width: 100% !important;
    background-color: violet;
    color: white;
    outline: none !important;
    // padding: 5px;
}

.box-text {

    .adbutton {
        button {
            width: 100% !important;
        }

    }
}

.cart-button {
    // padding: 4px 10px;
}

// .image-box-option {
//     width: 70%;
//     border: 1px solid red;
//     height: 50%;
// }


// section-3 Ends here

// section 4 starts here

.section-4-container {
    margin: 50px 0;
    // border: 1px solid black;
    width: 100%;

    .section-4 {
        // border: 1px solid red;

        // .sectiongeneral-heading {
        //     // text-align: centers;
        // }

        .section-4-flex {
            display: flex;
            justify-content: space-between;

            .section-4-flex-box {
                width: 23%;

                box-shadow: 0 5px 8px #000000;
                text-align: center;
                // border: 1px solid red;
                cursor: pointer;


                .inner-section-4-flex-box {
                    // display: flex;
                    // flex-direction: column;
                    // align-items: center;
                    // border: 1px solid green;
                    // border: 1px solid yellowgreen;
                    margin: 25px 0;


                }

                .section-4-flex-box-icon {
                    width: 65px;
                    height: 65px;

                    display: flex;
                    justify-content: center;




                }

                .section-4-flex-center {
                    display: flex;
                    justify-content: center;
                }

                .section-4-padding-vertical {
                    margin: 10px 0;
                }

            }
        }
    }
}

.section-4-lorem {
    // width: "217px";
}

.section-5-container {
    width: 100%;
    // border: 1px solid red;

    .section-5 {
        padding: 15px 0;
        justify-content: space-between;

        .section-5-left,
        .section-5-right {
            width: 47%;
            // padding: 5px 0;
            // border: 1px solid green;
            // font-size: 14px;
        }

        .section-5-right {
            display: flex;
            align-items: center;

            .box-container-for-items-image {
                // border: 1px solid red;


            }

            .inner-section-5-right {

                ul {
                    border: none;
                    padding: 0;
                }
            }

        }
    }
}

.section-5 {
    // position: relative;
    display: flex;


    .ellips-container {
        position: relative;
        overflow: hidden;
        padding: 8px 0;
        // border: 2px solid red;
        // width: 90%;
        // // margin-left: 20px;
        // width: 100%;

        .sofa-container {
            // position: absolute;
            // top: 0;
            // left: 40px;
            // border: 1px solid;
            // width: 100%;
        }
    }

    .ellipse {
        width: 95%;
    }

    .homesofa {
        width: 100%;
        position: absolute;
        top: -20px;
        left: 30px;
        // border: 1px solid blueviolet;
    }

    .section-5-cart {
        display: flex;

        button {
            border: none;
            padding: 10px 15px;
            background-color: #FB2E86;


        }
    }
}

.navbar-top-left-1 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    h1 {
        margin-right: 20px;
    }
}

// Section  6

.section-6 {
    width: 100%;
    margin-top: 50px;
}

.section-6-img-container {
    // box-shadow: 0 0px 10px 
    // border: none;
    background-color: red;
    padding-bottom: 5rem;
}

.section-6-inner-image-box-container {
    // border: 2px solid green;
    // align-items: center;
    // display: flex;
    // justify-content: center;
    // height: 80%;
}


.section-6-content {
    // border: 1px solid red;
    font-size: 1em;
    display: flex;
    justify-content: space-between;
    // background-color: #FFFFFF;
    border-radius: 5px;
    // box-shadow: 0 0 10px rgba (0, 0, 0, 0.1);
    margin-bottom: 40px;

    .section-6-heading {
        h1 {
            text-align: center;
        }
    }



    .section-6-img-container {
        // border: 1px solid;
        // box-shadow: 0 0 5px;
        box-shadow: 0px 5px 8px #38393b;
        width: 22%;
        padding-bottom: 3.5em;
        background-color: #FFFFFF;
        border-radius: 5px;
        // box-shadow: 0 0px 0px rgba (0, 0, 0, 0.1);
        transition: ease-in-out;

        .adbutton {
            width: 40%;
            margin: auto;
        }

        button {
            width: 50%;
        }

        .section-6-img-containertext-box {
            align-items: center;
        }


        .inner-image-box-container {

            padding: 10px 0;
            align-items: center;
            display: flex;
            justify-content: center;
            height: 80%;

        }

        .inner-section-6-img-container {
            width: 60%;
        }

        .sec6img {
            width: 100%;

        }

        p {
            margin: 0;
            text-align: center;
        }

        pre {
            margin: 4px;
            text-align: center;
        }
    }

    .section-6-img-container:hover {
        transform: translate(0, -10px);
        transition: all;
        transition-duration: 2s;
        transition-delay: 0.2s;
    }


}


.section-6-sub {
    display: flex;
    background-color: #FFFFFF;
    color: #151875;

    .section-6-sub-1 {
        width: 37%;
        margin-right: 5px;
        height: 180px;
        padding: 0 10px;
        position: relative;
        box-shadow: 0px 5px 8px #F5F6F8;
        margin-bottom: 10px;


        p {
            // margin: 4px;
        }
    }

    .section-6-img {
        display: flex;
        justify-content: flex-end;
        padding: 0;
        position: absolute;
        top: 80px;
        right: 0;
    }
}

.section-6-sub-2-list {
    display: flex;
}

.section-6-sub-2-img {}

.footer {
    background-color: #F1F0FF;
}

.footer-section {
    width: 100%;
    display: flex;
    // flex-wrap: wrap;
    // border: 1px solid black;
    margin-top: 40px;
    justify-content: space-between;




    .footer-right {

        h4 {
            line-height: 43px;
        }

        p {
            color: blue;
        }

    }
}

.email-box {
    display: flex;
    align-items: center;
    position: relative;
    width: 250px;
    background-color: red;


    input {
        width: 85%;
        height: 34px;
        border: 1px solid lightgray;
        outline: none;
    }
}




.cart-button {
    outline: none;
    border: none;
    padding: 5px;
}

@media only screen and (max-width: 1030px) {
    .section-1 {

        // display: block;
        .section-1-left {

            .section-1-left-content {
                .section-1-left-content-text-1 {
                    // border: 1px solid;
                }

                .section-1-left-content-heading {
                    font-size: 20px;
                    line-height: 30px;
                    padding-right: 50px;
                    // border: 1px solid black;
                    // border: 1px solid black;
                }

                .section-1-left-content-text-3 {
                    // margin-right: 50%;

                }
            }
        }



        .section-1-right {

            .section-1-right-sofa {
                height: 21.31rem;
                width: 21.31rem;
                margin-left: 3%;

            }

            .group-circle {
                height: 24.18rem;
                width: 24.18rem;
            }
        }



    }


    .general-font-size {
        // font-size: 10px;
    }

    .section-1-left-lamp {
        // width: 220px;
        // border: 1px solid black;
        left: -20px;
    }

    .lamp-size {
        // border: 1px solid red;
        width: 12em !important;

    }

    .section-1-left-lamp img {
        width: 100%;
    }



    .section-2-container {

        .padding-horizontal {

            .section-2 {

                .section-2-box-container {
                    // flex: wrap; 
                    flex-wrap: wrap;
                    // border: 3px solid yellow !important;

                    .section-2-box {
                        width: 48%;
                        // border: 2px solid green;
                        margin-bottom: 30px;
                    }

                }
            }
        }

    }

    .section-3-container {
        .image-box-container {
            padding-bottom: 2em;
            font-size: 0.8em;

            .box-text {
                padding-bottom: 2em;


            }




        }
    }


    .smaller-padding-horizontal {
        margin: 0 200px !important;
    }

    .section-5-container {
        display: flex;
        font-size: 13px;

        button {
            padding: 0 8px;
            // height: 30px;
        }

        p {
            margin: 8px 0;
        }
    }



    .section-6-sub-2-list {
        position: relative;
        // border: 1px solid black;
        font-size: 14px;
        align-items: center;

        .section-6-sub-2-img {
            width: 40px !important;
            margin-top: 10px;
            margin-right: 10px;

        }
    }

    .section-6-sub-2-list {
        font-size: 10px;
    }

    .email-box {
        width: 14em;

        .signup {
            padding: 0;
            margin: 0;
            font-size: 0.8em;
            padding-left: 0 !important;
            text-align: center;
            display: flex;
            justify-content: center !important;
        }
    }

    .footer p {
        font-size: 13px;
    }

    .section-3-content {


        .image-box-container {
            .adbutton {
                width: 70%;


                .cart-button {
                    width: 100% !important;

                }
            }
        }
    }

    .section-6-img-container {
        padding-bottom: 4em !important;

        .section-6-img-containertext-box {

            .adbutton {
                width: 80% !important;



                .cart-button {
                    width: 100%;

                }
            }



            font-size: 0.8em;
        }
    }


}

@media only screen and (max-width: 770px) {


    .section-1 {
        flex-direction: column;
        // border: 1px solid;

        .section-1-left {
            justify-content: center;
            padding: 50px 0 20px;

            .section-1-left-content {
                text-align: center;
                // font-size: 18px !important;


                .section-1-left-content-heading {
                    // border: 1px solid;
                    padding: 0 !important;
                    margin: 0 !important;
                    text-align: center;
                    font-size: 18px !important;
                }

                .section-1-left-content-box-3 {
                    padding: 15px 0 !important;
                    // border: 1px solid;
                    margin: auto;
                    padding-top: 10px !important;
                    margin-bottom: 10px;
                    font-size: 14px;
                    font-weight: 500;
                }

            }

        }

        .section-1-right {
            // border: 1px solid black;
            display: flex;
            justify-content: center;
            padding: 15px 0px;
            padding-top: 10px;

            .section-1-right-background {
                // border: 3px solid hotpink;
                width: 80% !important;
                position: relative;
                width: 100%;
            }

            .group-circle {
                position: absolute;
                // border: 2px solid red;
                width: 100%;
                top: 0;
                height: auto;

            }
        }







        // .pink-circle {
        //     border: 2px solid blue;
        //     width: 23rem;
        //     height: inherit;

        // }


    }

    .section-1-left-lamp {
        // width: 200px;
    }

    .section-1-left,
    .section-1-right {
        width: 100%;
        // border: 1px solid black
    }

    .lamp-size {
        width: 100% !important;
        // border: 1px solid;
        // position: absolute;
        right: 0;
    }

    .section-1-left-lamp {
        left: 75%;
        // border: 1px solid;
        width: 8em;
    }

    .section-1-left-content {
        // padding: 40px 0;
        // padding: 60px 0 20px;
    }

    .section-3-container {
        .image-box-container {
            padding-bottom: 4em;
            font-size: 0.8em;

            .box-text {
                padding-bottom: 2em;
            }

        }
    }

    .inner-section-4-flex-box {
        // border: 1px solid pink;
        margin: 5px 0 !important;
        font-size: 0.7em;
    }

    .section-4-padding-vertical {
        margin: 9px 0 !important;
    }

    .section-5-container {

        .smaller-padding-horizontal {
            margin: 0 100px !important;
        }
    }

    .section-6-content {
        display: flex;
        flex-wrap: wrap;

        .section-6-img-container {
            width: 46%;
            margin: 20px 0;
        }
    }

    .section-6-sub {
        flex-wrap: wrap;
        justify-content: space-between;

        .section-6-sub-1 {
            width: 100%;
        }
    }

    .image-box-container {
        //    
    }

    .box-text {
        //   
    }



}




.section-5-container {
    background-color: #F1F0FF;

    .section-5-left,
    .section-5-right {
        width: 50%;
    }
}



@media screen and (max-width: 500px) {
    .navbar-icon-margin-right span {
        display: none !important;
    }

    .navbar-top-left-1 {

        h1 {
            margin: 0;
            padding: 0;
            margin-right: 10px;
        }


    }

    .section-1-left {
        .section-1-left-content {
            .section-1-left-content-heading {
                font-size: 40px !important;
            }
        }
    }

    .section-1-left-lamp {
        position: absolute;
        top: 0;
        left: 75%;
    }

    .section-1-left-lamp {
        width: 110px;
    }

    .section-2-box-container {
        flex-direction: column;
    }


    // .section-1-left-content-heading {
    //     border: 1px solid;
    //     margin: 0;
    //     padding: 0 !important;
    //     font-size: 5px !important;
    // }

    .section-1-left-content {
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // text-align: center;
    }

    .section-4-flex {
        flex-wrap: wrap;
        justify-content: center !important;




        .section-4-flex-box {
            width: 50% !important;
            padding: 12px 12px !important;
            margin-bottom: 20px;
            width: 100% !important;
        }
    }

    .inner-section-4-flex-box {
        // border: 1px solid pink;
        font-size: 14px;
    }

    .section-5-container {

        .smaller-padding-horizontal {
            padding: 0 30px;
        }

        .section-5 {
            flex-direction: column;
            // width: 100%;

            .section-5-left,
            .section-5-right {
                width: 100%;
                // border: 1px solid red;
            }
        }

        .ellips-container {
            // border: 1px solid;
            width: 90%;
            margin: auto;
        }

        .smaller-padding-horizontal {
            margin: 0 !important;
        }
    }

    .section-4-lorem {
        line-height: 20px;
        padding: 0 20px;
        margin-bottom: 15px;
    }

    .section-5-right {
        justify-content: center;
        border: none;
    }

    // * {
    //     margin: 0;
    //     padding: 0;
    // }

    .inner-section-5-right {
        text-align: center;
        justify-content: center;


        ul {
            margin: none;
            padding: 0;
            line-height: 1.4;
            font-size: 13px;

            // margin: ;
        }
    }

    .section-5-cart {
        flex-direction: row-reverse;
        justify-content: center;

        p {
            font-weight: 500;
            margin-right: 10px;
        }

        button {
            outline: none;
            border: none;
            padding: 5px 10px;
        }
    }

    .section-6-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .section-6-img-container {
            width: 80%;
            margin: 20px 0;
            // border: 1px solid;,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,

            .inner-section-6-img-container {
                display: flex;
                justify-content: center;
                padding: 20px 0;


                .sec6img {
                    width: 200px;
                }
            }
        }


    }

    .section-2 {

        .section-2-box {
            // height: 200px !important;


            .box-container-text-container {
                height: 40% !important;
                font-size: 14px;
                // text-align: center;
                // display: flex;
                // flex-direction: column;
                // justify-content: space-around;
            }
        }

        .section-2-box {
            background-color: white !important;
            // border: 1px solid black;
            width: 100% !important;
            height: 300px !important;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            // overflow: hidden;
            // box-shadow: 5px 5px 10px black;
            // border: 1px solid;
            box-shadow: 0 0px 10px #e8e8e8;

            .box-container-for-items-image {
                // border: 1px solid blue;
                background-color: whitesmoke;
                width: 100%;
                height: 60% !important;
                display: flex;
                justify-content: center;
                align-items: center;


                .inner-box-container-for-items-image {
                    width: 150px !important;
                    height: 160px !important;

                    #px {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .section-3-content {
        // border: 1px solid pink;


    }

    .overall-image-box-container {
        flex-direction: column;
        width: 90%;


        .image-box-container {
            width: 100% !important;
            padding-bottom: 0;

            .inner-image-box-container {
                // border: 1px solid green;
                width: 100%;
                padding: 2em 0;


                .inner-image-box {
                    // border: 1px solid red;
                    width: 75%;
                    height: 12em;

                    .caftypic {
                        // width: 20%;
                    }
                }
            }

            .box-text {
                line-height: 1.6em;
                padding: 1em 2em;
                // border: 1px solid red;
                font-size: 0.9em;

            }

        }
    }



}

@media screen and (max-width: 425px) {
    .section-3-content {

        .overall-image-box-container {

            .image-box-container {
                margin-bottom: 1.7em;
                text-align: center;
            }

        }
    }

    .section-1-left-lamp {
        position: absolute;
        top: 0;
        left: 77%;
        width: 5em;
    }



}




@media screen and (max-width: 430px) {
    .section-3-content {
        // ma
    }

    .overall-image-box-container {
        width: 90% !important;
        margin: auto;
        // border: 1px solid black;
        display: flex;
        flex-wrap: wrap !important;
        margin-bottom: 10px !important;

        .image-box-container {
            // width: 40% !important;

        }
    }

    .section-2-box .adbutton {
        width: 50%;
    }

    .section-6-sub-2 {
        display: flex;
        justify-content: space-between;
        width: 100%;

        // .section-6-sub-2 {
        //     width: 100%;
        //     border: 5px solid yellow !important; 
        // }

        .section-6-sub-2-list {
            flex-direction: column;
            width: 32%;


            .section-6-sub-2-list-image {
                width: 70%;

                .section-6-sub-2-img {
                    width: 100% !important;
                }
            }
        }
    }

}

@media screen and (max-width: 320px) {
    .section-1-left-content-heading {
        margin: 0;
        padding: 0 !important;
        font-size: 17px !important;
    }

    .section-1-left-lamp {
        left: 70%;
        width: 4.5em;

    }

    .section-1-left {
        font-size: 10px !important;

    }

    .inner-image-box-container {
        // height: 70% !important;


        // .image-box-option-2 {
        //     width: 50%;
        //     height: 30%;
        // }
    }

    .box-text {
        // 

    }

    .section-1-container {
        width: 100%;
        // background-color: red;


    }

    .adbutton button {
        width: 50%;
        // font-size: 0.7em;
    }

    .section-3-links div {
        font-size: 0.7em;
        font-weight: bold;
    }

    .section-3 {


        .image-box-container {
            // border: 3px solid red;

            // padding-bottom: 3em;


            .adbutton button {
                width: 100%;
                // font-size: 0.7em;
            }

            .box-text {

                // padding-bottom: 1em;
                .adbutton {
                    // border: 4px solid red !important;
                }
            }
        }
    }

    .section-5-right {}
}